.upcoming-films {
    margin: 3rem;
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.upcoming-films h2 {
    padding-top: 1rem;
    margin-bottom: 1rem;
    color: black;
}

.scroller {
    padding-top: 1rem;
    display: flex;
    overflow-x: auto;
    gap: 1rem;      
    padding-bottom: 1rem; 
}

.trailer-card {
    min-width: 300px; 
    flex-shrink: 0;   
    transition: transform 0.3s;
    border-radius: 8px;
    background: #f8f8f8;
    padding: 0.5rem;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.trailer-card:hover {
  transform: scale(1.05);
}